<div class="profile">
  <img class="avatar" src="styles/theme/default/img/anonymous.png">
  <ul>
    <li><a href="#">{{user.fullName}}</a></li>
    <li>{{ user.name  }}@{{ config.puavoDomain }}</li>
  </ul>
</div>
